.search-title {
  h1 {
    text-transform: capitalize;
  }
}
.phonetic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.synonyms {
  i {
    cursor: pointer;
    padding-left: 5px;
    &:hover {
      color: rgb(93, 173, 240);
    }
    &:active {
      color: rgb(13, 155, 13);
    }
  }
}
.no-synonyms {
  color: rgb(153, 153, 153);
  display: inline;
}

.play-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
